
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

:root{
    --main-background-colour: #1F1F1F;
    --spotify-green: #1DB954;
    --spotify-font: 'Montserrat', sans-serif;
}

body{
    background-color: var(--main-background-colour);
    padding: 0%;
    margin: 0;
    color: white;
    font-family: var(--spotify-font);
    text-align: center;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--spotify-green);
    color: white;
}

.logo {
    font-size: clamp(2rem, 4rem, 4rem);
    font-weight: bold;
    margin: 0;
}

.logo::before {
    content: ""; 
    display: inline-block;
    background-image: url('images/logo.png');
    background-size: 50px 50px; 
    width: 50px;
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    position: relative;
}

a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: ease-in-out 0.2s;
}

a:hover::before{
    transform: scaleX(1);
}

#intro_text{
    font-size: 4rem;
}

#featured_artists{
    font-size: 2rem;
}

.intro_text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.letter{
    margin: 10px;
    font-size: 4rem;
}

.letter:hover{
    transform: scale(0.95);
    transition: ease-in-out 0.2s;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.card{
    width: 300px;
    background-color: #393939;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}   

.card img{
    width: 100%;
    height: auto;
}

.card:hover{
    transform: scaleX(1.05);
    transition: ease-in-out 0.2s;
}

.music{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
}

.music audio{
    margin-top: 10px;
}

footer{
    background-color: #1DB954;
    width: 100%;
    margin: 0;
    height: 20%;
    margin-top: 50px;
}